.header-color {
  background: #000046;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.car-cards {
  display: flex;
  flex-wrap: wrap;

}


header > h1 {
  display: inline-block;
  color: #000046;
  margin-bottom: 10px;
  margin-left: 10px
 }

header > .car-button {
  float: right;
  margin-top: 1.3em;
  margin-right: 2em;
}

header > .service-button {
  float: right;
  margin-top: 1.3em;
  margin-right: 2em;
}

.owner-cars > h6 {
  margin-top: 0;
  padding-left: 10px
}

.log-tab > section {
  float: right;
  margin-right: 6em;
  text-align: center;
}

.log-tab > span {
  font-size: 2em;
}